.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

README.Rmd

MTE_dataAnalysis/output/
MTE_dataAnalysis/plots/
animations/
BathurstSurvey/
simulations/output
simulations/figures/ 
ClimateChangeData/
figures/
LST/ 

*.rds
*.RData